.hList{
    padding: 3px;
    border: 1px solid green;
}

.hList li{
    padding: 3px;
    border: 1px solid;
    display: inline;
}

.hItem{
    border: 1px solid red;
    padding: 7px;
    display: inline-block;
}