<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>


	<script src="./vendor/es5-shim.min.js"></script>
	<script src="./vendor/es5-sham.min.js"></script>
	<script src="./vendor/json3.min.js"></script>
	<script src="./vendor/es6-shim.min.js"></script>
	<script src="./vendor/es6-sham.min.js"></script>


  </head>
  <body>

    <div id="header_container"></div>

    <div id="page_container" class="container" >
        <article> Loading....</article>
        <h1>
          <%= htmlWebpackPlugin.options.content_title %>
        </h1>
        <div id='a-zone'></div>
        <div id='b-zone'></div>

    </div>

    <div id="footer_container"></div>
    <div id="sideMenu"></div>
    <div id="side_menu_container"></div>

  </body>
</html>